:root{
    --url-background: rgb(10,10,10);
    --primary-Color: rgb(93, 27, 155);
    --secundary-Color: rgb(25,25,25);
    --terceary-Color: rgb(241, 238, 11);
    --text-Color:rgb(255,255,255);
    --primary-Font: 'PT Sans', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--primary-Color);
    color:var(--text-Color);
    font-family: var(--primary-Font);
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 50px repeat(2, calc(53.9vh - 50px)) 50px;
    grid-template-areas:
    "header header"
    "aside main"
    "aside ."
    "footer footer";
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    text-align: center;
    overflow: hidden;
    
    background-color: var(--secundary-Color);
    border-bottom: 1px solid var(--primary-Color);
}

main{
    grid-area: main;
    display: grid;
    background-color: var(--terceary-Color);
    border-bottom:2px solid red;
}

aside{
    grid-area:aside;
}

footer{
    grid-area:footer;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: right;

    list-style: none;
}

header nav ul li{
    padding: 0px 15px;
    cursor: pointer;
}

aside{
    background-color: var(--url-background);
}

footer{
    background-color: var(--secundary-Color);
}