:root{
    --url-background: rgb(10,10,10);
    --primary-Color: rgb(93, 27, 155);
    --secundary-Color: rgb(25,25,25);
    --terceary-Color: rgb(241, 238, 11);
    --text-Color:rgb(255,255,255);
    --primary-Font: 'PT Sans', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--primary-Color);
    color:var(--text-Color);
    font-family: var(--primary-Font);

    display:grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 50px calc(100vh - 50px) 50px;

}

header{
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    text-align: center;
    overflow: hidden;

    grid-column: 1/4;
    background-color: var(--secundary-Color);
    border-bottom: 1px solid var(--primary-Color);
}

main{
    display: grid;
    grid-template-columns: repeat(3, 160px);
    grid-template-rows: repeat(2, 160px);
    justify-content: start;
    background-color: var(--secundary-Color);
    grid-column: 1/2;
    grid-row:2/3;

    /*property values start, end, center, stretch(default), etc..*/
    justify-items: start; 
    align-items: center;
}

div{
    border:2px solid var(--url-background)
}

div:nth-child(1){
    order:1
}

div:nth-child(2){
    order:-2
}

div:nth-child(4){
    order:-1
}

aside{
    background-color: var(--terceary-Color);
}

footer{
    background-color: var(--url-background);
    grid-column: 1/4;
    grid-row: 3/4;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: right;

    list-style: none;
}

header nav ul li{
    padding: 0px 15px;
    cursor: pointer;
}